{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto">
    <h1 class="text-3xl font-bold text-emerald-400 mb-2">Mi Dashboard Financiero</h1>
    <p class="text-gray-400 mb-6">Creemos una cuenta</p>

    <div class="bg-gray-800 p-6 rounded-xl border border-gray-700 shadow-lg">
        <h2 class="text-sm uppercase tracking-wider text-gray-400">Formulario</h2>
        <p class="text-4xl font-extrabold text-emerald-300 mt-2">datos..</p>
    </div>
</div>
{% endblock content %}